*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
}
body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
}
.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: rgb(44, 43, 43);
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.7);
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFFF;
    z-index: 2;
}
.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hand i{
    position: absolute;
    width: 4px;
    height: var(--h);
    background-color: var(--clr);
    border-radius: 8px;   
}